<p><%= f.text_field :checkpoint_date, :size => 10, :required => true %><%= calendar_for('checkpoint_checkpoint_date') %></p>
<div class="splitcontentleft">
  <p><%= f.text_field :scheduled_finish_date, :size => 10, :required => true %><%= calendar_for('checkpoint_scheduled_finish_date') %></p>
</div>
<div class="splitcontentright">
  <p><%= f.text_field :held_qa_meetings, :size => 10, :required => true %></p>
</div>
<div style="clear:both;"></div>
<% if @roles.length > 0
     roles = @roles.dup
     roles.push nil if roles.length.odd?
     columns = roles.each_slice(2).collect.transpose
     columns[-1].pop if columns[-1][-1].nil? %>
  <% ["splitcontentleft", "splitcontentright"].each_with_index do |css_class, i| %>
    <div class="<%= css_class %>">
      <%- columns[i].each do |role| -%>
        <p>
          <%= label_tag "checkpoint_scheduled_role_effort_#{role}",
                        l(:"cmi.label_scheduled_role_effort", :role => role) + '<span class="required"> *</span>' %>
          <%= hidden_field_tag "checkpoint[cmi_checkpoint_efforts_attributes][][id]", @checkpoint.scheduled_role_effort_id(role) %>
          <%= hidden_field_tag "checkpoint[cmi_checkpoint_efforts_attributes][][role]", role %>
          <%= text_field_tag "checkpoint[cmi_checkpoint_efforts_attributes][][scheduled_effort]", @checkpoint.scheduled_role_effort(role), :size => 10 %>
        </p>
      <%- end -%>
    </div>
  <%- end -%>
  <div style="clear:both;"></div>
<%- end -%>
<p><%= f.text_area :description,
                   :cols => 60,
                   :rows => (@checkpoint.description.blank? ? 10 : [[10, @checkpoint.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit' %></p>

<%= wikitoolbar_for 'checkpoint_description' %>
