<h2><%=l('cmi.label_checkpoints')%></h2>
<%= render :partial => 'metrics/tabs' %>

<% if @checkpoints.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div class="autoscroll">
  <table class="list issues">
    <thead>
      <tr>
        <%= sort_header_tag('checkpoint_date', :caption => t(:label_date), :default_order => 'desc') %>
        <%= content_tag('th', t(:"cmi.label_effort")) %>
        <%= content_tag('th', t(:field_scheduled_finish_date)) %>
        <%= content_tag('th', t(:field_held_qa_meetings)) %>
      </tr>
    </thead>
    <tbody>
    <% @checkpoints.each do |checkpoint| -%>
      <tr id="checkpoint-<%= checkpoint.id %>" class="<%= cycle('odd', 'even') %> issue">
        <td><%= link_to checkpoint.checkpoint_date, :controller => 'checkpoints', :action => 'show', :id => checkpoint %></td>
        <%= content_tag 'td', checkpoint.scheduled_role_effort.values.reduce(:+) %>
        <%= content_tag 'td', checkpoint.scheduled_finish_date %>
        <%= content_tag 'td', checkpoint.held_qa_meetings %>
      </tr>
    <% end -%>
    </tbody>
  </table>
  </div>
  <p class="pagination splitcontentleft"><%= pagination_links_full @pages, @count %></p>
<% end %>

<div class="contextual">
  <%= link_to_if_authorized l(:label_new), {:action => 'new'}, :class => 'icon icon-add' %>
</div>

<% html_title(l(:"cmi.label_metrics")) -%>
