<%= render :partial => 'metrics/tabs' %>

<div class="contextual">
  <%= link_to_if_authorized(l(:button_update), {:action => 'edit'}, :onclick => 'showAndScrollTo("update", "notes"); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%= link_to_if_authorized l(:button_delete), {:action => 'destroy'}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
</div>

<h2><%=l :"cmi.label_checkpoints" %></h2>

<div class="issue details">
  <%= avatar(@checkpoint.author, :size => "50") %>

  <div class="subject">
    <h3><%= @checkpoint.checkpoint_date %></h3>
  </div>

  <p class="author">
    <%= authoring @checkpoint.created_at, @checkpoint.author %>.
    <% if @checkpoint.created_at != @checkpoint.updated_at %>
      <%= l(:label_updated_time, time_tag(@checkpoint.updated_at)) %>.
    <% end %>
  </p>
  <table class="attributes">
    <tr>
      <th><%=l(:field_scheduled_finish_date)%>:</th><td><%= format_date(@checkpoint.scheduled_finish_date) %></td>
      <th><%=l(:field_scheduled_qa_meetings)%>:</th><td><%= @checkpoint.scheduled_qa_meetings %></td>
    </tr>
    <%- @roles.each do |role| -%>
      <tr>
        <th><%=l(:"cmi.label_scheduled_role_effort", :role => role) %></th>
        <td><%= @checkpoint.scheduled_role_effort[role] %></td>
      </tr>
    <%- end -%>
  </table>

  <% if @checkpoint.description? -%>
    <hr />
    <div class="contextual">
      <%= link_to_remote_if_authorized(l(:button_quote), { :url => {:action => 'new_journal', :id => @checkpoint} }, :class => 'icon icon-comment') %>
    </div>

    <p><strong><%=l(:field_description)%></strong></p>
    <div class="wiki">
      <%= textilizable @checkpoint, :description %>
    </div>
  <% end %>
</div>

<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :checkpoint => @checkpoint, :journals => @journals } %>
  </div>
<% end %>

<div class="contextual">
  <%= link_to_if_authorized(l(:button_update), {:action => 'edit'}, :onclick => 'showAndScrollTo("update", "notes"); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%= link_to_if_authorized l(:button_delete), {:action => 'destroy'}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
</div>

<div style="clear: both;"></div>
<% if authorize_for('checkpoints', 'edit') %>
  <div id="update" style="display:none;">
    <h3><%= l(:button_update) %></h3>
    <%= render :partial => 'edit' %>
  </div>
<% end %>
