<tr>
  <th rowspan="<%= 41 + (4 * @roles.length) %>"><%= l('cmi.label_project_management') %></th>
  <th rowspan="<%= 3 + (3 * @roles.length) %>"><%= l('cmi.label_effort') %></th>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_done') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @reports.each do |report| %>
      <td class="issue"><%= report.effort_done_by_role(role) %> <%= l('cmi.label_hours') %></td>
    <% end %>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_total) %></td>
  <% @names.each_with_index do |name, i| %><%# TODO kill this @names thing %>
    <td class="issue">
      <%= get_report_value(name, 'effort_done').round(2) %> <%= l('cmi.label_hours') %>
      <%= effort_done_graph(@reports[i], @roles) %>
    </td>
  <% end %>
</tr>
