<tr>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_remaining') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @reports.each do |report| %>
      <td class="issue"><%= report.effort_remaining_by_role(role) %> <%= l('cmi.label_hours') %></td>
    <% end %>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_total) %></td>
  <% @names.each_with_index do |report, i| %><%# TODO kill this @names thing %>
    <td class="issue">
      <%= get_report_value(report, 'effort_remaining') %>
      <%= effort_remaining_graph(@reports[i], @roles) %>
    </td>
   <% end %>
</tr>
