<tr>
  <th rowspan=6><%= l('cmi.label_quality_assurance') %></th>
  <th rowspan=1><%= l('cmi.label_quality_reviews') %></th>
  <th rowspan=1 colspan="2"><%= l('cmi.label_quality_reviews_done') %></th>
  <% @names.each do |report| %>
      <td class="issue"><%= get_report_value(report, 'Revisión calidad realizada') %>
      (<%= get_report_value(report, 'Revision calidad planificada').to_f != 0.0 ? (get_report_value(report, 'Revisión calidad realizada').to_f / get_report_value(report, 'Revision calidad planificada').to_f).round(2) : "--" %>%) </td>
  <% end %>
</tr>
<tr>
  <th rowspan=2><%= l('cmi.label_nonconformities') %></th>
   <th colspan="2"><%= l('cmi.label_quality_reviews_detected') %></th>
   <% @names.each do |report| %>
      <td class="issue"><%= get_report_value(report, 'nc_total') %> </td>
   <% end %>
</tr>
<tr>
   <th colspan="2"><%= l('cmi.label_unresolved') %></th>
   <% @names.each do |report| %>
      <td class="issue"><%= get_report_value(report, 'nc_open') %> </td>
   <% end %>
</tr>

<tr>
  <th rowspan=1 colspan="3"><%= l('cmi.label_no_approval_open_out_of_date') %></th>
  <% @names.each do |report| %>
      <td class="issue"><%= get_report_value(report, 'no_approval_open_out_of_date') %> </td>
  <% end %>
</tr>
<tr>
  <th rowspan=1 colspan="3"><%= l('cmi.label_no_approval_open_without_date') %></th>
  <% @names.each do |report| %>
      <td class="issue"><%= get_report_value(report, 'no_approval_open_without_date') %> </td>
  <% end %>
</tr>
<tr>
  <th rowspan=1 colspan="3"><%= l('cmi.label_ac_effort') %></th>
  <% @names.each do |report| %>
      <td class="issue"><%= get_report_value(report, 'ac_effort') %>
      (<%= get_report_value(report, 'effort_done').to_f != 0.0? (get_report_value(report, 'ac_effort').to_f / get_report_value(report, 'effort_done').to_f).round(2) : "--"%>%) </td>
  <% end %>
</tr>
