<div id="tab-content-metrics">
<h2><%=l('cmi.label_metrics')%></h2>

<% unless flash[:error] %>

  <% remote_form_for(:project, @project, :url => {:controller => 'metrics', :action => 'show', :project_id => @project, :metrics => 'all'}, :method => :post) do |f| %>
      <p class="other-formats"><%= submit_tag l('cmi.label_view_all') %></p>
  <% end %>

  <table class="list issues" border="1">
    <thead>
      <tr>
        <th rowspan="1" width="150"><%=l('cmi.label_area')%></th>
        <th rowspan="2" width="150"><%=l(:label_environment)%></th>
        <th colspan="2" width="150"><%=l('cmi.label_metric')%></th>
        <% @names.each do |report| %>
          <th colspan="1"><% if(report=="actual")%>Valor actual - <%end%><%= get_report_value(report, 'Fecha del informe') %></th>
        <% end %>
      </tr>
    </thead>

    <%= render :partial => 'project_effort_done' %>

    <%= render :partial => 'project_effort_remaining' %>

    <%= render :partial => 'project_effort_planned' %>

    <%= render :partial => 'project_time' %>

    <%= render :partial => 'project_cost' %>

    <%= render :partial => 'project_advance' %>

    <%= render :partial => 'project_profitability' %>

    <%= render :partial => 'project_deviation' %>

    <%= render :partial => 'project_risk' %>

    <%= render :partial => 'project_incident' %>

    <%= render :partial => 'requirement' %>

    <%= render :partial => 'configuration' %>

    <%= render :partial => 'qa' %>

    <%= render :partial => 'measurement' %>

  </table>

<% end %>

</div>
