<fieldset>
  <legend><%=l :'cmi.project_custom_fields' %></legend>
  <p>
    <label><%=l :'cmi.field_project_group' %></label>
    <%= text_field_tag 'settings[field_project_group]' %>
  </p>
</fieldset>
<fieldset>
  <legend><%=l :'cmi.user_custom_fields' %></legend>
  <p>
    <label><%=l :'cmi.field_user_profile' %></label>
    <%= text_field_tag 'settings[field_user_profile]' %>
  </p>
</fieldset>
