<fieldset>
  <legend><%=l :'cmi.project_custom_fields' %></legend>
  <p>
    <label><%=l :'cmi.field_project_group' %></label>
    <%= text_field_tag 'settings[field_project_group]', (Setting.plugin_redmine_cmi['field_project_group'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_project_total_income' %></label>
    <%= text_field_tag 'settings[field_project_total_income]', (Setting.plugin_redmine_cmi['field_project_total_income'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_project_scheduled_start_date' %></label>
    <%= text_field_tag 'settings[field_project_scheduled_start_date]', (Setting.plugin_redmine_cmi['field_project_scheduled_start_date'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_project_scheduled_finish_date' %></label>
    <%= text_field_tag 'settings[field_project_scheduled_finish_date]', (Setting.plugin_redmine_cmi['field_project_scheduled_finish_date'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_project_actual_start_date' %></label>
    <%= text_field_tag 'settings[field_project_actual_start_date]', (Setting.plugin_redmine_cmi['field_project_actual_start_date'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_project_qa_review_meetings' %></label>
    <%= text_field_tag 'settings[field_project_qa_review_meetings]', (Setting.plugin_redmine_cmi['field_project_qa_review_meetings'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_project_scheduled_role_effort' %></label>
    <%= text_field_tag 'settings[field_project_scheduled_role_effort]', (Setting.plugin_redmine_cmi['field_project_scheduled_role_effort'] rescue nil) %>
  </p>
</fieldset>

<fieldset>
  <legend><%=l :'cmi.issue_custom_fields' %></legend>
  <p>
    <label><%=l :'cmi.field_report_scheduled_role_effort' %></label>
    <%= text_field_tag 'settings[field_report_scheduled_role_effort]', (Setting.plugin_redmine_cmi['field_report_scheduled_role_effort'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_report_scheduled_finish_date' %></label>
    <%= text_field_tag 'settings[field_report_scheduled_finish_date]', (Setting.plugin_redmine_cmi['field_report_scheduled_finish_date'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_report_original_material_budget' %></label>
    <%= text_field_tag 'settings[field_report_original_material_budget]', (Setting.plugin_redmine_cmi['field_report_original_material_budget'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_report_current_material_budget' %></label>
    <%= text_field_tag 'settings[field_report_current_material_budget]', (Setting.plugin_redmine_cmi['field_report_current_material_budget'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_report_expense_cost' %></label>
    <%= text_field_tag 'settings[field_report_expense_cost]', (Setting.plugin_redmine_cmi['field_report_expense_cost'] rescue nil) %>
  </p>
  <p>
    <label><%=l :'cmi.field_report_held_qa_review_meetings' %></label>
    <%= text_field_tag 'settings[field_report_held_qa_review_meetings]', (Setting.plugin_redmine_cmi['field_report_held_qa_review_meetings'] rescue nil) %>
  </p>
</fieldset>

<fieldset>
  <legend><%=l :'cmi.user_custom_fields' %></legend>
  <p>
    <label><%=l :'cmi.field_user_profile' %></label>
    <%= text_field_tag 'settings[field_user_profile]', (Setting.plugin_redmine_cmi['field_user_profile'] rescue nil) %>
  </p>
</fieldset>
