<p>
  <label><%=l :'cmi.label_incidents' %></label>
  <%= select_tag 'settings[incidents_tracker]',
                 '<option></option>' +
                 options_from_collection_for_select(Tracker.all, :id, :name, @settings['incidents_tracker'].to_i) %>
</p>
<p>
  <label><%=l :'cmi.label_requirements' %></label>
  <%= select_tag 'settings[requirements_tracker]',
                 '<option></option>' +
                 options_from_collection_for_select(Tracker.all, :id, :name, @settings['requirements_tracker'].to_i) %>
</p>
<p>
  <label><%=l :'cmi.label_risks' %></label>
  <%= select_tag 'settings[risks_tracker]',
                 '<option></option>' +
                 options_from_collection_for_select(Tracker.all, :id, :name, @settings['risks_tracker'].to_i) %>
</p>
<p>
  <label><%=l :'cmi.label_conf_category' %></label>
  <%= text_field_tag 'settings[conf_category]', @settings['conf_category'] %>
</p>
<p>
  <label><%=l :'cmi.label_low_risk_priorities' %></label>
  <%= select_tag 'settings[risk_low]',
                 options_from_collection_for_select(IssuePriority.all, :id, :name, @settings['risk_low'].collect(&:to_i)),
                 :multiple => true %>
</p>
<p>
  <label><%=l :'cmi.label_medium_risk_priorities' %></label>
  <%= select_tag 'settings[risk_medium]',
                 options_from_collection_for_select(IssuePriority.all, :id, :name, @settings['risk_medium'].collect(&:to_i)),
                 :multiple => true %>
</p>
<p>
  <label><%=l :'cmi.label_high_risk_priorities' %></label>
  <%= select_tag 'settings[risk_high]',
                 options_from_collection_for_select(IssuePriority.all, :id, :name, @settings['risk_high'].collect(&:to_i)),
                 :multiple => true %>
</p>
