<%= error_messages_for 'cmi_project_info' %>

<% labelled_form_for :cmi_project_info, @cmi_project_info,
                   :url => { :controller => 'metrics', :action => 'info', :project_id => @project },
                   :lang => current_language do |f| %>

  <fieldset class="box tabular">
    <legend><%=t :"cmi.label_actual_data" %></legend>
    <div class="splitcontentleft">
      <p><%= f.text_field :total_income, :size => 10, :required => true %></p>
      <p><%= f.text_field :actual_start_date, :size => 10, :required => true %><%= calendar_for('cmi_project_info_actual_start_date') %></p>
    </div>

    <div class="splitcontentright">
      <p><%= f.select :group, options_for_select(Project.groups, @cmi_project_info.group), :required => true, :include_blank => true %></p>
    </div>
    <div style="clear:both;"></div>
  </fieldset>

  <fieldset class="box tabular">
    <legend><%=t :"cmi.label_initial_schedule" %></legend>
    <p><%= f.text_field :scheduled_start_date, :size => 10, :required => true %><%= calendar_for('cmi_project_info_scheduled_start_date') %></p>
    <div class="splitcontentleft">
      <p><%= f.text_field :scheduled_finish_date, :size => 10, :required => true %><%= calendar_for('cmi_project_info_scheduled_finish_date') %></p>
    </div>
    <div class="splitcontentright">
      <p><%= f.text_field :scheduled_qa_meetings, :size => 10, :required => true %></p>
    </div>
    <div style="clear:both;"></div>
    <% if @roles.length > 0
         roles = @roles.dup
         roles.push nil if roles.length.odd?
         columns = roles.each_slice(2).collect.transpose
         columns[-1].pop if columns[-1][-1].nil? %>

      <% ["splitcontentleft", "splitcontentright"].each_with_index do |css_class, i| %>
        <div class="<%= css_class %>">
          <%- columns[i].each do |role| -%>
            <p>
              <%= label_tag "cmi_project_info_scheduled_role_effort_#{role}",
                  l(:"cmi.label_scheduled_role_effort", :role => role) + '<span class="required"> *</span>' %>
              <%= hidden_field_tag "cmi_project_info[cmi_project_efforts_attributes][][id]", @cmi_project_info.scheduled_role_effort_id(role) %>
              <%= hidden_field_tag "cmi_project_info[cmi_project_efforts_attributes][][role]", role %>
              <%# TODO scheduled_effort value when validations fail %>
              <%= text_field_tag "cmi_project_info[cmi_project_efforts_attributes][][scheduled_effort]", @cmi_project_info.scheduled_role_effort(role), :size => 10 %>
            </p>
          <%- end -%>
        </div>
      <%- end -%>

      <div style="clear:both;"></div>
    <%- end -%>
  </fieldset>

  <%= submit_tag(l(:button_save)) %>
<% end %>
