<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <% if project.parent_id %>
      >
    <% end %>
    <%= link_to_project project %>
  </td>
  <td><%= project.identifier %></td>
  <td><%= project.users.all(:joins => { :custom_values => :custom_field }, :conditions => ['custom_fields.name = ? AND custom_values.value = ?', DEFAULT_VALUES['user_role_field'], Setting.plugin_redmine_cmi['coordinator_role']]).join(', ') %></td>

  <%@custom_values = project.custom_values.find(:all, :include => :custom_field, :order => "#{CustomField.table_name}.position")
    exp = tip = ciclo = obs = ""
    for custom_value in @custom_values
      if (custom_value.custom_field.name == "#{l('cmi.label_expedient')}")
        exp = custom_value.value
      elsif (custom_value.custom_field.name == "#{l('cmi.label_typology')}")
        tip = custom_value.value
      elsif (custom_value.custom_field.name == "#{l('cmi.label_stages_cmi')}")
        ciclo = custom_value.value
      elsif (custom_value.custom_field.name == "#{l('cmi.label_observations_cmi')}")
        obs = custom_value.value
      end
    end %>
  <td> <%= exp %> </td>
  <td> <%= tip %> </td>
  <td> <%= obs %> </td>
  <td> <%= ciclo %> </td>
  <td>
      <%= link_to_metrics(project) %>
  </td>
</tr>
