<tr>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_remaining') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @reports.each_with_index do |report, i| -%>
      <% content_tag :td, :id => "effort_remaining_#{role}_#{i}", :class => "issue" do -%>
        <%= report.effort_remaining_by_role(role) %> <%= l('cmi.label_hours') %>
      <% end -%>
    <% end -%>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_total) %></td>
  <% @names.each_with_index do |report, i| %><%# TODO kill this @names thing %>
    <% content_tag :td, :id => "effort_remaining_total_#{i}", :class => "issue" do -%>
      <%= get_report_value(report, 'effort_remaining') %>
      <%= effort_remaining_graph(@reports[i], @roles) %>
    <% end -%>
  <% end -%>
</tr>
