<tr>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_planned') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @metrics.each_with_index do |metric, i| -%>
      <% content_tag :td, :id => "effort_planned_#{role}_#{i}", :class => "issue" do -%>
        <%= hours (begin metric.effort_scheduled_by_role(role) rescue '--' end) %>
      <% end -%>
    <% end -%>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_total) %></td>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "effort_planned_total_#{i}", :class => "issue" do -%>
      <%= hours (begin metric.effort_scheduled rescue '--' end) %>
      <%= effort_scheduled_graph(@metrics[i], @roles) %>
    <% end -%>
  <% end -%>
</tr>
