<tr>
  <th rowspan="<%= 6 + @roles.length %>"><%= l('cmi.label_advance') %></th>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_effort_plural') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @metrics.each_with_index do |metric, i| -%>
      <% content_tag :td, :id => "advance_effort_#{role}_#{i}", :class => "issue" do -%>
        <%= percent metric.effort_percent_done_by_role(role) %>
      <% end -%>
    <% end -%>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_project) %></td>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "advance_effort_total_#{i}", :class => "issue" do -%>
      <%= percent metric.effort_percent_done %>
    <% end -%>
  <% end -%>
</tr>
<tr>
  <th rowspan=1 colspan="2"><%= l('cmi.label_time') %></th>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "advance_time_#{i}", :class => "issue" do -%>
      <%= percent metric.time_percent_done %>
    <% end -%>
  <% end -%>
</tr>

<tr>
  <th rowspan=3><%= l('cmi.label_budgets') %></th>
  <td><%= l('cmi.label_RRHH') %></td>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "advance_hhrr_budget_#{i}", :class => "issue" do -%>
      <%= percent metric.hhrr_cost_percent_incurred %>
    <% end -%>
  <% end -%>
</tr>
<tr>
  <td><%= l('cmi.label_others') %></td>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "advance_other_budget_#{i}", :class => "issue" do -%>
      <%= percent metric.material_cost_percent_incurred %>
    <% end -%>
  <% end -%>
</tr>
<tr>
  <td><%= l(:label_total) %></td>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "advance_total_budget_#{i}", :class => "issue" do -%>
      <%= percent metric.total_cost_percent_incurred %>
    <% end -%>
  <% end -%>
</tr>
<tr>
  <th colspan="2"><%= l('cmi.label_graphs') %></th>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "advance_chart_#{i}", :class => "issue" do -%>
      <img src="http://chart.apis.google.com/chart?cht=bhs&chd=t:<%= metric.effort_percent_done.round(2) %>,<%= metric.time_percent_done.round(2) %>,<%= metric.total_cost_percent_incurred.round(2) %>|100,100,100&chco=4D89F9,C6D9FD&chbh=10,5,10&chs=250x70&chxt=x,y&chxl=0:|0|50|100|1:|Coste: <%= percent metric.total_cost_percent_incurred %>|Tiempo: <%= percent metric.time_percent_done %>|Esfuerzo: <%= percent metric.effort_percent_done %>|"/>
    <% end -%>
  <% end -%>
</tr>
