<tr>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_remaining') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @metrics.each_with_index do |metric, i| -%>
      <% content_tag :td, :id => "effort_remaining_#{role}_#{i}", :class => "issue" do -%>
        <%= hours metric.effort_remaining_by_role(role) %>
      <% end -%>
    <% end -%>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_total) %></td>
  <% @metrics.each_with_index do |metric, i| %>
    <% content_tag :td, :id => "effort_remaining_total_#{i}", :class => "issue" do -%>
      <%= hours metric.effort_remaining %>
      <%= effort_remaining_graph(@metrics[i], @roles) %>
    <% end -%>
  <% end -%>
</tr>
