<tr>
  <th rowspan="<%= 41 + (4 * @roles.length) -
               (Setting.plugin_redmine_cmi['risks_tracker'].blank? ? 5 : 0) -
               (Setting.plugin_redmine_cmi['incidents_tracker'].blank? ? 5 : 0) %>">
    <%= l('cmi.label_project_management') %>
  </th>
  <th rowspan="<%= 3 + (3 * @roles.length) %>"><%= l('cmi.label_effort') %></th>
  <th rowspan="<%= 1 + @roles.length %>"><%= l('cmi.label_done') %></th>

  <% @roles.each do |role| %>
    <td><%=h role %></td>
    <% @metrics.each_with_index do |metric, i| -%>
      <% content_tag :td, :id => "effort_done_#{role}_#{i}", :class => "issue" do -%>
        <%= hours metric.effort_done_by_role(role) %>
      <% end -%>
    <% end -%>
    </tr>
    <tr>
  <% end %>

  <td><%= l(:label_total) %></td>
  <% @metrics.each_with_index do |metric, i| -%>
    <% content_tag :td, :id => "effort_done_total_#{i}", :class => "issue" do -%>
      <%= hours metric.effort_done %>
      <%= effort_done_graph(@metrics[i], @roles) %>
    <% end -%>
  <% end -%>
</tr>
