<% unless flash[:error] %>

  <% form_for(metrics_path(:action => 'show', :project_id => @project), :method => :post) do |f| %>
      <%= hidden_field_tag :metrics, 'all' %>
      <p class="other-formats"><%= submit_tag l('cmi.label_view_all') %></p>
  <% end %>

<div style="overflow:auto">
  <table class="list issues" border="1">
    <thead>
      <tr>
        <th rowspan="1" width="150"><%=l('cmi.label_area')%></th>
        <th rowspan="2" width="150"><%=l(:label_environment)%></th>
        <th colspan="2" width="150"><%=l('cmi.label_metric')%></th>
        <% @metrics.each do |report| %>
          <th colspan="1"><%=h report %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'metrics/metrics/project_effort_done' %>
      <%= render :partial => 'metrics/metrics/project_effort_remaining' %>
      <%= render :partial => 'metrics/metrics/project_effort_scheduled' %>
      <%= render :partial => 'metrics/metrics/project_time' %>
      <%= render :partial => 'metrics/metrics/project_cost' %>
      <%= render :partial => 'metrics/metrics/project_advance' %>
      <%= render :partial => 'metrics/metrics/project_profitability' %>
      <%= render :partial => 'metrics/metrics/project_deviation' %>

      <% unless Setting.plugin_redmine_cmi['risks_tracker'].blank? %>
        <%= render :partial => 'metrics/metrics/project_risk' %>
      <% end %>

      <% unless Setting.plugin_redmine_cmi['incidents_tracker'].blank? %>
        <%= render :partial => 'metrics/metrics/project_incident' %>
      <% end %>

      <% unless Setting.plugin_redmine_cmi['changes_tracker'].blank? %>
        <%= render :partial => 'metrics/metrics/changes' %>
      <% end %>

      <%= render :partial => 'metrics/metrics/configuration' %>

      <% unless Setting.plugin_redmine_cmi['qa_tracker'].blank? %>
        <%= render :partial => 'metrics/metrics/qa' %>
      <% end %>

      <%= render :partial => 'metrics/metrics/measurement' %>
    </tbody>
  </table>
</div>

<% end %>
