<% content_for :sidebar do %>
  <%= render :partial => 'metrics/sidebar' %>
<% end %>

<div class="contextual">
  <%= link_to_if_authorized(l(:button_update), {:action => 'edit'}, :onclick => 'showAndScrollTo("update", "notes"); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%= link_to_if_authorized l(:button_delete), {:action => 'destroy'}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
</div>

<h2><%=l :"cmi.label_expenditures" %>: <%= @expenditure.concept %></h2>

<div class="issue details">
  <%= avatar(@expenditure.author, :size => "50") %>

  <div class="subject">
    <h3><%=l :"cmi.label_expenditures" %></h3>
  </div>

  <p class="author">
    <%= authoring @expenditure.created_at, @expenditure.author %>.
    <% if @expenditure.created_at != @expenditure.updated_at %>
      <%= l(:label_updated_time, time_tag(@expenditure.updated_at)) %>.
    <% end %>
  </p>
  <table class="attributes">
    <tr>
      <th><%=l(:field_current_budget)%>:</th><td><%= @expenditure.current_budget %></td>
      <th><%=l(:field_initial_budget)%>:</th><td><%= @expenditure.initial_budget %></td>
    </tr>
    <tr>
      <th><%=l(:field_incurred)%>:</th><td><%= @expenditure.incurred %></td>
    </tr>
  </table>

  <% if @expenditure.description? -%>
    <hr />
    <div class="contextual">
      <%= link_to_remote_if_authorized(l(:button_quote), { :url => {:action => 'new_journal', :id => @expenditure} }, :class => 'icon icon-comment') %>
    </div>

    <p><strong><%=l(:field_description)%></strong></p>
    <div class="wiki">
      <%= textilizable @expenditure, :description %>
    </div>
  <% end %>
</div>

<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :expenditure => @expenditure, :journals => @journals } %>
  </div>
<% end %>

<div class="contextual">
  <%= link_to_if_authorized(l(:button_update), {:action => 'edit'}, :onclick => 'showAndScrollTo("update", "notes"); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%= link_to_if_authorized l(:button_delete), {:action => 'destroy'}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
</div>

<div style="clear: both;"></div>
<% if authorize_for('expenditures', 'edit') %>
  <div id="update" style="display:none;">
    <h3><%= l(:button_update) %></h3>
    <%= render :partial => 'edit' %>
  </div>
<% end %>
